
/* MEDIA QUERIES */
@media only screen and (min-width: 500px) {
    .nav-wrapper {
      margin: 0 auto;
      width: 90%;
  }
}

/* HEADER */
nav {
  position: fixed;
  z-index: 1000;
}
#header-img {
  margin-top: 0.125em;
  height: 1.75em;
}
