.nav-wrapper {
  margin: 0 auto;
  width: 90%;
}

/* nav {
  background-color: black;
}
*/

/* Commented out because this shouldn't use CSS to complete, should use Materialize CSS builtin class "black" */
